<%= form_for @show, html: { multipart: true } do |form| %>
<% if @show.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@show.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!-- Image upload - for future implementation
  <p>
  <%= form.label :show_img %><br>
  <%= form.file_field :show_img %>
  </p>
-->
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :synopsis %><br>
    <%= form.text_area :synopsis %>
  </p>

  <p>
    <%= form.label :episodes %><br>
    <%= form.number_field :episodes, :min => 0 %>
  </p>

  <p>
    <%= form.label :score %><br>
    <%= form.number_field :score, :min => 0, :max => 10 %> / 10
  </p>
  
    <%= form.submit %>
  </p>
<% end %>
